body{
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.5px;
}
header{
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: white;
    box-shadow: 0 2px 0 gainsboro;
}

.li1{
    padding-top: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin-top: -11px;
    margin-left: 80px;
    display: block;
    margin-top: -11px;
    opacity: .9;
}

.li2{
    padding-top: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin-top: -11px;
    margin-left: 68px;
    display: block;
    opacity: .9;
}

.li3{
    padding-top: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin-top: -11px;
    margin-left: 50px;
    display: block;
    opacity: .9; 
}


.nav_1 {
    list-style: none;
    margin-left: 800px;    
}

.nav_1 ul{
    list-style: none;
    float: left;
}

.nav_1 ul li{
    font-weight: bold;
    text-decoration: none;
    padding-top: 15px;
    color: #757575;
    float: left;
    margin-right: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif;  
    color:#757575;
}

.nav_1:hover ul li {color:#6ab344;}

header img{
  padding-top: 10px;    
}

.img_android{
  height: 28px;
  display: block;
  padding: 25px;
  float: left;
}

.seccion1{
   /*background-image: url("C:\Users\dxhbk\OneDrive\Documentos\GitHub\Malagon-hernandez-Jose\Android\img\spotlight-stories-1024.jpg");*/
   background-size: cover;
   display: block;
    height: 90px;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    padding-bottom: 40%;    
        
}

.image1{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      max-height: auto;
      padding-top: 80px;
}

.btnMore{
    text-decoration: none;
    box-sizing: border-box;
    background: #fc0e1a;
    color: white;
    padding: 0 1.3em;
    line-height: 3em;
    display: inline-block;
    border-radius: .3em;
    border-bottom-width: 1.2px;
    margin-left: 615px;
    font-size: 14px;
    margin-top: -20px;
}

.parraf1{
    color: white;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 22px;
    height: 96px;
    line-height: 32px;
    text-align: center;
    width: 320px;
    display: block;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    margin-top:-40px;
    letter-spacing: 0.5px;
}

.seccion2{
    height: 80px;
    border-bottom: 1px solid #dcdcdc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(220, 220, 220);
    padding-bottom: 40px;    
   
}
.seccion2-2{    
    height: 80px;
    border-bottom: 1px solid #dcdcdc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(220, 220, 220);    
}
.image2{
    padding: 30px;
    display: block;
    margin-left: 20px;
    margin-right: auto;
    text-align: center;
    padding-top: 150px;
    padding-left: 500px;    
}

.image2b{
    padding: 30px;
    display: block;
    margin-left: 20px;
    margin-right: auto;
    text-align: center;
    padding-top: -20px;
    padding-left: 500px;    

}

.seccion3{
    height: 220px;
}

.sectionh2{
    padding-top: 100px;
    text-align: center;
    color: #333333;
    display: block;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;    
}

.parraf3{
    text-align: center;
    color: #333333;
    display: block;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 510px;
    margin-left: auto;
    margin-right: auto;
}


.seccion4{
   height: 540px;
}

.images4{
    padding-top: 120px;
    margin-left: 35px;
    float: right;
}
.images4 img{
    margin-left: 30 px;
    padding-left: 50px;
}

.parraf4 p{
    color: rgb(106, 179, 68);
    font-weight: bold;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    float: left;
}

.parraf4-1{
    padding-left: 10px;
    margin-left: 140px;
}

.parraf4-2{
    padding-right: 20px;
     margin-left: 70px;
}

.parraf4-3{
     padding-right: 1px;
     margin-left: 60px;
}


.parraf4-4{
    padding-right: 10px;
    margin-left: 180px;
}

.parraf4-5{
    padding-right: 20px;
    margin-left: 250px;
}

.seccion5{
    background-image: url("/img/wear3-1024.png");
    background-position: center center;
    background-size: cover;
    padding-bottom: 40%;
}

.seccion6{
    background-color: #455a64;
    background-position: center center;
    background-size: cover;
    height: 220px;
    margin-top: -35px;
}

.section6h2{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 40px;
    color: white;
    padding-top: 25px;
    margin-left: 150px;
    font-weight: normal;
}

.parraf6{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: white;
    margin-left: 150px;
    width: 800px;
}

.parraf6-2{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    color: white;
    font-weight: normal;
    margin-left: 150px;
    width: 800px;
    color:  #64ffda;
}

.hh3{
    padding: 30px;
}

.seccion7{
    height: 230px;
}

.parraf7{
    text-align: center;
    color:#6ab344;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    width: 510px;
    margin-left: auto;
    margin-right: auto;
}

.devices{
    width: 100%;
    
}

.seccion8{
   height: 570px;
   padding-left: 16px;
   padding-right: 16px;
   padding-bottom: 12px;
   padding-top: 45px;      
}
.parraf8{
    font-size: 40px;
    padding-top: 30px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-left: 160px;
}

.div{
    margin-top: -30px;
    border-spacing: 160px 0px;
    padding-right: 16px;
    padding-left: 16px;
    line-height: 24px;    
    text-align: center;    
}
.work{
    width: 30px;
    height: 50px;
}

.parraf8-1{
    font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #212121; 
    line-height: 24px;
    letter-spacing: .8px;
    margin-left: 10px;
}

.parraf8-2{
    color: #6ab344;
    font-size: 14px;
    padding-top: 40px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-left: 10px;
    font-weight: bold;
}

.section-header {
    padding-left: 16px;
    padding-right: 16px;
}
.section-header {
    padding-bottom: 12px;
    padding-top: 45px;
}
.div{
    display: block;
}

.seccion9{
    height: 240px;
    background-color: #fafafa;
}


.parraf9{
    color: #757575;
    float: right;
    margin-right: 10px;
    font-size: 14px;
    padding-top: 18px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.images9{
    padding-top: 35px;
    float: right;
    margin-right: 30px;    
    
}

.images{
    padding-top: 65px;
    margin-left: 35px;
}
.images img{
    margin-left: 10px;
}

.parraf9-2{
    color: #757575;
    font-size: 13px;
    font-family: Roboto, Helvetica, Arial, sans-serif;   
    line-height: 24px;
    margin-left: 45px;
    padding-top: 20px;
}

footer{
    background-color: gainsboro;
    height: 90px;
}

.imageGoogle{
    padding: 30px;
    margin-left: 12px;
    float: left;
}

.nav2 {
    list-style: none;
}

.nav2 ul{
    list-style: none;
    float: left;
}

.nav2 ul li{
    text-decoration: none;
    padding-top: 20px;
    color: #757575;
    float: left;
    margin-right: 80px;
    font-size: 14px;
    margin-left: -40px;
    font-family: Roboto, Helvetica, Arial, sans-serif;  
}
.sectionWork{
    float: left;    
    width: auto;
    margin-left: 160px;
    margin-right: 30px;
     height: 450px;
    width: 300px;;    
    box-shadow: 0 3px 20px gainsboro;
}
.sectionPay{
    float: left;    
    margin left: 100px;
    margin-right: 100px;
    height: 450px;
    width: 300px;
    box-shadow: 0 3px 20px gainsboro;
    
}
.sectionFrom{
    float: left;    
    margin-right: 50px;
    margin-left: -70px;
     height: 450px;
    width: 300px;
   box-shadow: 0 3px 20px gainsboro;
}
.Work{    
    margin-top: 0;    
    font-size: 20px;
    font-weight: 400;
    width: auto;
    margin-bottom: 12px;
   
    
}
.link{
    color: #6ab344;
    padding-top: 55px;
    font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    margin-left: 10px;
    font-weight: bold;
    height: -30px; 
}

.link2{    
    color: #6ab344;
    padding-top: 13px;
    font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    margin-left: 10px;
    font-weight: bold;
    height: -50px;    
}
.link3{
    color: #6ab344;
    padding-top: 70px;
    font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    margin-left: 10px;
    font-weight: bold;
    height: -50px;    
}

.paMore{
    margin-bottom: 40px;
    color: #212121;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;    
}
.block{
    display: block;
    padding: 24px;
}